*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --plain: #fff;
}

@font-face {
  font-family: "MyFont1";
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MyFont2";
  src: url("./fonts/Spin-Cycle/spincycle_ot.otf") format("opentype");
}

body {
  font-family: "MyFont1", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.header-container {
  width: 100%;
  padding: 15px;
}

header {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  height: 20px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one, 
.three {
  width: 100%;
}

.two {
  width: 60%;
}

.one,
.two,
.three {
  height: 3px;
  background: var(--plain);
  border-radius: 5px;
}

.logo {
  width: 70%;
}

.logo img {
  width: 100%;
}
