*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

nav {
  width: 1103px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 162px;
  height: 26px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 234px;
  justify-content: space-between;
}

ul li a {
  color: #fff;
  text-decoration: none;
}
